@import "src/more-sass/_variables.scss";
.view-requests-body {
  @include container;
  height: auto;
  background-color: $white;
  font-size: 0.8rem;
}

.action-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 $headerMargin;
  padding-bottom: 1rem;
}

$actionBarItemWidth: 4rem;

.action-bar-item {
  padding: 0 0.1rem;
  width: $actionBarItemWidth;

  ul {
    padding: 0;
  }
}
.action-bar-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 0 0.1rem;

  .title {
    color: black;
    padding-right: 0.3rem;
  }
  .toggle-dropdown {
    @include dropdown-button($size: 10px);
  }
}

.action-button-small {
  @include cute-button;
  font-size: 0.5rem;
  padding: 0.3rem 0.8rem;
  line-height: 1rem;
}

.action-bar-display-sometimes {
  display: none;
}
.section-button {
  width: 100%;
  text-align: left;
  padding-left: 0.3rem;
  &:hover {
    color: $primaryColor;
  }
}

.action-bar-display-sometimes-query {
  display: none;
  height: fit-content;
  li {
    height: 4rem;
    margin-bottom: 1rem;
  }
}

.show {
  display: block;
}

.action-bar-send {
  width: min-content;
}

.query-button {
  width: $actionBarItemWidth;
  text-align: left;
}
.all-requests {
  @include requests;
}
