<div class="view-requests-body">
  <div class="action-bar filter">
    <div class="action-bar-title">Filter by</div>

    <div class="action-bar-item">
      <div class="action-bar-item-head">
        <div class="title">{{ sectionName }}</div>
        <button (click)="dropdownSection()">
          <div class="toggle-dropdown"></div>
        </button>
      </div>
      <div class="action-bar-display-sometimes">
        <ul>
          <li *ngFor="let section of sections">
            <button class="section-button" (click)="filterSection()">
              <div class="section-options">{{ section }}</div>
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="action-bar-item">
      <div class="action-bar-item-head">
        <div class="title">Query</div>
        <button (click)="dropdownQuery()">
          <div class="toggle-dropdown"></div>
        </button>
      </div>
      <div class="action-bar-display-sometimes-query">
        <div *ngIf="!sectionSelected">
          Please select an section to query by.
        </div>
        <ul *ngIf="sectionSelected">
          <li *ngFor="let query of possibleQuerries">
            {{ query }}
          </li>
        </ul>
      </div>
    </div>

    <div class="action-bar-item action-bar-send">
      <button>
        <div class="action-button-small">
          FILTER
        </div>
      </button>
    </div>
  </div>

  <div class="action-bar update">
    <div class="action-bar-title">Mark as</div>
    <div class="action-button-small">PENDING</div>
    <div class="action-button-small">ONGOING</div>
    <div class="action-button-small">COMPLETE</div>
  </div>

  <div class="all-requests">
    <div>
      <ul>
        <li *ngFor="let req of requests; let i = index">
          <app-show-requests id="{{ i }}" [req]="req"></app-show-requests>
        </li>
      </ul>
    </div>
  </div>
</div>
