@import "src/more-sass/_variables.scss";

.request-display {
  font-size: 0.7rem;
}
.display-always {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  padding-bottom: 0.5rem;

  align-items: center;
}

.text {
  width: 70%;
}

.complaint-title {
  font-size: 1rem;
}

.toggle-dropdown {
  @include dropdown-button;
}

.display-sometimes {
  display: none;
  padding: 0 2rem;
  padding-bottom: 2rem;
  border-bottom: 3px solid $accentColorDark;
}

.show {
  display: block;
}
