<div class="request-display">
  <div class="display-always">
    <div *ngIf="admin" class="checkbox">
      <input type="checkbox" />
    </div>
    <div class="text">
      <div class="complaint-title">
        {{ req.title }}
      </div>
      <div>REQUEST ID: {{ req.request_id }}</div>
      <div>{{ req.location | uppercase }}</div>
      <div>JULY 18, 2019 - 8:30 AM</div>
      <div>STATUS: {{ req.status }}</div>
      <div *ngIf="admin">AUTHOR: {{ req.author }}</div>
    </div>
    <button (click)="dropdown()">
      <div class="toggle-dropdown"></div>
    </button>
  </div>
  <div [attr.id]="'button' + id">
    <div class="display-sometimes">
      {{ req.complaint }}
    </div>
  </div>
</div>
