@import "src/more-sass/_variables.scss";
.plant-select-body {
  @include container;

  h1 {
    @include fancy-font;
  }
}

.location-select {
  background-color: $primaryColor;
  padding: 1em 1em;
  margin: 0 2rem;
  height: 50vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset $boxShadow;

  li {
    margin-bottom: 3rem;
    width: 100%;
  }

  button {
    width: 100%;
    height: fit-content;
  }

  .location-link {
    @include cute-button($darkColor);
  }
}

.close-bttn {
  @include cute-button();
}
