.location-select{
    background-color: lightsteelblue;
    padding: 1em 1em;

    li {
        background-color: lightblue;
        margin: 1em;
        padding: 1em;
        color: white;
        text-align: center;
    }
}

.close {
    width: 15rem;
    background-color: lightblue;
    border-radius: 1%;
    margin: 1% 41%;
    padding: 0.5rem;
}