.location-select{
    background-color: lightsteelblue;
    padding: 1em 1em;

    li {
        background-color: lightblue;
        margin: 1em;
        padding: 1em;
        color: white;
        text-align: center;
    }
}