<div class="plant-select-body">
  <h1>Where is the problem at {{ plantName }} ?</h1>
  <ul class="location-select">
    <li *ngFor="let location of locations">
      <button (click)="openModal('custom-modal-1')">
        <div class="location-link">
          {{ location }}
        </div>
      </button>
    </li>
  </ul>

  <app-modal id="custom-modal-1">
    <app-problem-form [currentPlantName]="plantName"></app-problem-form>
    <button
      (click)="closeModal('custom-modal-1')"
      routerLink="/MakeRequestHome"
    >
      <div class="close-bttn">
        CLOSE
      </div>
    </button>
  </app-modal>
</div>
