<div class="login-body">
  <div *ngIf="!_UserService.token && !registerNewUser" class="display-group">
    <div class="success-message" *ngIf="successRegister">
      <p>
        REGISTRATION SUCCESFUL
        <span>PLEASE LOG IN <br />USING YOUR <br />CREDENTIALS</span>
      </p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <div class="field">
        <input type="text" formControlName="username" />
        <label>USERNAME </label>
      </div>
      <div class="field">
        <input type="text" formControlName="password" />
        <label>PASSWORD </label>
      </div>
      <button class="action-bttn" type="submit">
        LOG IN
      </button>
    </form>

    <button
      *ngIf="!successRegister"
      (click)="renderSignUp()"
      class="action-link"
    >
      NEW USERS REGISTER HERE
    </button>
  </div>

  <!-- register new users -->
  <div class="display-group">
    <div *ngIf="registerNewUser">
      <form [formGroup]="signUpForm" (ngSubmit)="onSignupSubmit()">
        <div class="field">
          <input type="text" formControlName="username" placeholder="" />
          <label>USERNAME</label>
        </div>

        <div class="field">
          <input type="text" formControlName="password" placeholder="" />
          <label>PASSWORD</label>
        </div>
        <div class="field">
          <input type="text" formControlName="password_check" placeholder="" />
          <label>RE-ENTER PASSWORD</label>
        </div>
        <div class="field" class="checkbox-field">
          <label>ADMIN STATUS? </label>
          <input type="checkbox" formControlName="username" />
        </div>
        <button class="action-bttn" type="submit">
          SIGN UP
        </button>
      </form>
    </div>
  </div>
</div>
