
<div *ngIf="successRegister">
    <p> Registration successful! Please log in using your credentials. </p>
</div>

<div  *ngIf="!_UserService.token && !registerNewUser">
    <h1>Log In</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <div>
            <label>Username: </label>
            <input type="text" formControlName="username" placeholder="Username">
        </div>
        <div>
            <label>Password: </label>
            <input type="text" formControlName="password" placeholder="Password">
        </div>
        <button class="modal-bttn" type="submit">
            Log In
        </button>
    </form>

    <button (click)="renderSignUp()" class="modal-bttn">
        New User? Sign Up Here!
    </button>
</div>

<!-- register new users -->
<div *ngIf="registerNewUser">
        <h1>Sign Up as a New User</h1>
        <form [formGroup]="signUpForm" (ngSubmit)="onSignupSubmit()">
        <div>
            <label>Username: </label>
            <input type="text" formControlName="username" placeholder="Username">
        </div>
        <div>
            <label>Request Additional Permissions? </label>
            <input type="checkbox" formControlName="username">
        </div>
        <div>
            <label>Password: </label>
            <input type="text" formControlName="password" placeholder="Password">
        </div>
        <div>
            <label>Re-enter Password: </label>
            <input type="text" formControlName="password_check" placeholder="Password Again">
        </div>
        <button class="modal-bttn" type="submit">
            Sign Up
        </button>
    </form>


    </div>


<div *ngIf="_UserService.token">
    <div>
        You are successfully logged in as {{ _UserService.username }} <br/>
        Your login expires in {{ _UserService.token_expires }}
    </div>
    <a class="request-link" routerLink="/Profile"> Go to your profile </a>
    <button (click)="refreshToken()" class="modal-bttn" >Refresh Token</button>
    <button (click)="logout()" class="modal-bttn" >Log Out</button>
</div>
