@import "src/more-sass/_variables.scss";

$textColor: $white;
.login-body {
  @include container;
  width: 100vw;
  height: 100vh;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: $accentColor;
  color: $textColor;
}

.display-group {
  font-size: 1rem;
  width: 40vw;
  font-size: 1rem;
  width: 60vw;
  margin-right: 1rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  form {
    width: 60vw;
  }
}

$actionWidth: 5rem;
.action-bttn {
  @include cute-button($background-color: $primaryColor, $color: $white);
  padding: 0.3rem 0.5rem;
  width: $actionWidth;
  float: right;
  margin-top: 1rem;
}

.action-link {
  @include cute-link($color: $textColor);
  font-size: 0.8rem;
  width: $actionWidth;
  text-align: right;
  float: right;
  margin-top: 1rem;
  height: min-content;
}

.field {
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem;
  text-shadow: $textShadow;

  &:hover input,
  &:focus input {
    border-bottom: 1px solid $darkColorHover;
  }

  &:hover label,
  &:focus label {
    color: $darkColorHover;
  }

  input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid $textColor;
    color: white;
    //direction: RTL;
  }

  ::-webkit-input-placeholder {
    color: $disabledColor;
    //text-align: right;
  }

  label {
    text-align: right;
  }
}

.checkbox-field {
  text-align: right;
  margin-top: 1rem;
}

.success-message {
  text-align: right;
  width: 7rem;
  span {
    font-size: 0.5rem;
  }
}

.form-error {
  p,
  ul,
  li {
    font-size: 0.5rem;
    color: #732121;
    //text-align: right;
    text-shadow: none;
  }

  ul {
    list-style-type: circle;
    li {
      text-align: left;
    }
  }
}
