<div class="profile-body">
  <div class="user-info">
    <div>YOU ARE LOGGED IN AS</div>
    <div class="username">User Name</div>
    <div class="after-username">
      <div>STATUS: ADMIN</div>
      <div>YOUR LOGIN EXPIRES IN 30:00</div>
      <button class="action-link" (click)="refreshToken()">
        REFRESH LOGIN
      </button>
      <a routerLink="/Home">
        <div class="regular-link">
          MAKE NEW SERVICE REQUEST
        </div>
      </a>
      <button class="action-link" routerLink="/login" (click)="logout()">
        LOG OUT
      </button>
    </div>
  </div>

  <div class="user-requests">
    <div class="spacer"></div>
    <div class="user-requests-data">
      <ul>
        <li *ngFor="let req of u_request">
          <div class="display-always">
            <div class="text">
              <div class="complaint-title">Complaint Title</div>
              <div>MUDOR - DRYING BEDS</div>
              <div>JULY 18, 2019 - 8:30 AM</div>
              <div>STATUS: PENDING</div>
            </div>
            <div class="toggle-dropdown"></div>
          </div>
          <div class="display-sometimes">
            Here is a body of text that might perhaps represent a complaint that
            a person at the plant might so happen to have.
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
