<div class="profile-body">
  <div class="user-info">
    <div>YOU ARE LOGGED IN AS</div>
    <div class="username">User Name</div>
    <div class="after-username">
      <div>STATUS: ADMIN</div>
      <div>YOUR LOGIN EXPIRES IN 30:00</div>
      <button class="action-link" (click)="refreshToken()">
        REFRESH LOGIN
      </button>
      <a routerLink="/Home">
        <div class="regular-link">
          MAKE NEW SERVICE REQUEST
        </div>
      </a>
      <button class="action-link" routerLink="/login" (click)="logout()">
        LOG OUT
      </button>
    </div>
  </div>

  <div class="user-requests">
    <div class="spacer"></div>
    <div class="user-requests-data">
      <ul>
        <li *ngFor="let req of user_request; let i = index">
          <div class="request-displays">
            <div class="display-always">
              <div class="text">
                <div class="complaint-title">
                  {{ req.title }}
                </div>
                <div>REQUEST ID: {{ req.request_id }}</div>
                <div>{{ req.location | uppercase }}</div>
                <div>JULY 18, 2019 - 8:30 AM</div>
                <div>STATUS: PENDING</div>
              </div>
              <button (click)="dropdown()">
                <div id="{{ i }}" class="toggle-dropdown"></div>
              </button>
            </div>
            <div class="display-sometimes">
              {{ req.complaint }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
