@import "src/more-sass/_variables.scss";
.profile-body {
  @include container;
  height: auto;
  background-color: $white;
  font-size: 0.7rem;
}

$userInfoHeight: 21vh;
.user-info {
  //padding: 0 $displayPadding;
  padding: 0 2rem;
  //font-size: 0.7rem;
  position: fixed;
  background-color: $white;
  width: 100vw;
  height: $userInfoHeight;
}
.action-link,
.regular-link {
  @include cute-link;
  width: fit-content;
}

.username {
  font-family: $cursiveFont;
  font-size: 2rem;
}

.after-username {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.user-requests {
  max-width: 100vw;
  height: 100vh;
  padding-top: calc(#{$userInfoHeight} + #{$navHeaderHeight});
}

.user-requests-data {
  ul {
    padding: 0;
  }
}

li:nth-of-type(2n - 1) {
  background-color: $primaryColor;
  color: white;
}

.display-always {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  padding-bottom: 0.5rem;

  align-items: center;
}

.complaint-title {
  font-size: 1rem;
}

.toggle-dropdown {
  @include dropdown-button;
}

.display-sometimes {
  display: none;
  padding: 0 2rem;
  padding-bottom: 2rem;
  border-bottom: 3px solid $accentColorDark;
}

.show {
  display: block;
}
