<div class="profile-body">
  <div class="user-info">
    <div>YOU ARE LOGGED IN AS</div>
    <div class="username">{{ _UserService.currentUserValue.username }}</div>
    <div class="after-username">
      <div>AUTHOR ID: {{ _UserService.currentUserValue.id }}</div>
      <div *ngIf="_UserService.currentUserValue.is_staff">STATUS: ADMIN</div>
      <div *ngIf="!_UserService.currentUserValue.is_staff">
        STATUS: GENERAL USER
      </div>
      <div *ngIf="loginTimeRemaining">
        YOUR LOGIN EXPIRES IN {{ loginTimeRemaining }}
      </div>
      <div *ngIf="!loginTimeRemaining">YOUR LOGIN IS EXPIRED</div>
      <button class="action-link" (click)="refreshToken()">
        REFRESH LOGIN
      </button>
      <a routerLink="/MakeRequestHome">
        <div class="regular-link">
          MAKE NEW SERVICE REQUEST
        </div>
      </a>
      <button class="action-link" routerLink="/login" (click)="logout()">
        LOG OUT
      </button>
    </div>
  </div>

  <div class="user-requests">
    <div class="spacer"></div>
    <div class="user-requests-data">
      <ul>
        <li *ngFor="let req of user_request; let i = index">
          <app-show-requests id="{{ i }}" [req]="req"></app-show-requests>
        </li>
      </ul>
    </div>
  </div>
</div>
