@import "src/more-sass/_variables.scss";

// modal should be lower than nav
$modalZ: $navZ - 100;

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: $modalZ;

  overflow: auto;

  .modal-body {
    padding: 1rem;

    background: white;
    /* margin exposes part of the modal background */
    margin: 1rem;
    margin-top: $navHeaderHeight;
  }
}

.modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: black;
  opacity: 0.75;

  /* z-index must be below .jw-modal and above everything else  */
  z-index: $modalZ - 100;
}

.modal,
.modal-background {
  display: none;
}

body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
