.plant-select{
    background-color: lightblue;
    height: 10em;
    border-radius: 10%;
    /* need to fix this for responsiveness*/
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5em auto;
    display: block;
    width: 80%;
    text-align: center;


    a {
        color: white;
        text-align: center;
        /* all links should fill their containers*/
        width: 100%;
        line-height: 11em;
    }

}

.request {
    margin: auto;
    display: block;
    width: 50%;
    text-align: center;
}
