.plant-select{
    background-color: lightblue;
    width: 30em;
    height: 10em;
    border-radius: 10%;
    margin: 5em 8em; 
    display: flex;
    justify-content: center;
    align-items: center;


    a {
        color: white;
        text-align: center;
        
    }

}
