@import "src/more-sass/_variables.scss";

.home-body {
  @include container;
  justify-content: center;
  margin-top: -3rem;

  h1 {
    @include fancy-font;
  }
}

.plant-select {
  @include cute-button;
  text-align: center;
  margin: 0 1rem;
  margin-bottom: 2rem;
  a {
    color: $white;
  }
}
