@import 'src/more-sass/_variables.scss';

input {
    height: 2em;
    border-width: 0.1em;
    padding: 0.5em;
    width: inherit;
} 

label {
    display: inline-block;
    width: 99%;
    margin: 0 auto;

    p {
        text-align: left;
        margin: 0.5rem 0;
    }
}

h3, h4, p {
    text-align: center;
}

.hidden{
    display: none;
}

.form-error {
    p {
        font-size: 0.7rem;
        color: red;
        text-align: left;
    }
}

.complaint {
    height: 5rem;
}

