<div class="problem-form-body">
  <h3 [ngClass]="{ hidden: afterSubmit }">
    Please Clearly Explain the Problem Below
  </h3>

  <div [ngClass]="{ hidden: !afterSubmit }">
    <h3>Thank you for submitting a request!</h3>
    <p>Your Request ID is {{ request_id }}</p>
  </div>

  <div class="info">
    <span class="heading">TIME:</span> <br />
    {{ today_nice }}
  </div>

  <div class="info">
    <span class="heading"> LOCATION: </span> <br />
    {{ location }} at {{ plant }}
  </div>

  <form
    [formGroup]="serviceRequestForm"
    (ngSubmit)="onSubmit()"
    [ngClass]="{ hidden: afterSubmit }"
  >
    <div class="form-item">
      <label class="heading">COMPLAINT TITLE:</label>
      <input
        type="text"
        formControlName="complaint_title"
        placheholder="Briefly descibe your complaint - only 30 words available!"
      />
      <div
        class="form-error"
        *ngIf="
          serviceRequestForm.controls['complaint_title'].invalid &&
          (serviceRequestForm.controls['complaint_title'].dirty ||
            serviceRequestForm.controls['complaint_title'].touched)
        "
      >
        <p>Please enter a title for the complaint.</p>
      </div>
    </div>

    <div class="form-item">
      <label class="heading"> COMPLAINT:</label>
      <textarea
        class="complaint"
        type="text"
        formControlName="complaint"
        placheholder="There is an issue with..."
      ></textarea>
      <div
        class="form-error"
        *ngIf="
          serviceRequestForm.controls['complaint'].invalid &&
          (serviceRequestForm.controls['complaint'].dirty ||
            serviceRequestForm.controls['complaint'].touched)
        "
      >
        <p>Please enter a valid complaint, and describe it fully.</p>
      </div>
    </div>

    <div class="departments">
      <div class="heading">DEPARTMENTS:</div>
      <div class="department-options">
        <div (click)="addDepartment()" class="department-bttn">
          MECHANICAL
        </div>
        <div (click)="addDepartment()" class="department-bttn">
          ELECTRICAL
        </div>
        <div (click)="addDepartment()" class="department-bttn">
          PROCESS
        </div>
        <div (click)="addDepartment()" class="department-bttn">
          SAFETY
        </div>
      </div>
    </div>

    <button
      type="submit"
      [disabled]="serviceRequestForm.pristine || serviceRequestForm.invalid"
    >
      <div class="submit-bttn">
        SUBMIT REQUEST
      </div>
    </button>
  </form>
</div>
