input {
    width: 85vw;
    height: 2em;
    margin: 1em 0em;
    border-width: 0.1em;
    padding: 0.5em;
}

label {
    display: inline-block;
}

h3, h4, p {
    text-align: center;
}

.hidden{
    display: none;
}

.form-error {
    p {
        font-size: 0.5rem;
        color: red;
        text-align: left;
    }
}

button {
    border-radius: 1%;
    background-color: lightblue;
    margin: 1rem auto;
    display: block;
    width: 20%;
    text-align: center;
    padding: 0.5rem;
}

button:disabled {
    background-color: lightgrey;
}

.complaint {
    height: 5rem;
}