@import "src/more-sass/_variables.scss";
.problem-form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  @include slim-thick-font;
  margin-bottom: 1rem;
}

.info {
  width: 100%;
  margin-bottom: 0.7rem;
}
.heading {
  font-size: 0.8rem;
  font-weight: bold;
}

label {
  display: inline-block;
  width: 99%;
  margin: 0 auto;

  p {
    text-align: left;
    margin: 0.5rem 0;
  }
}

input {
  height: 2rem;
  padding: 0.5rem;
  width: 100%;
  border-style: unset;
  border: 1px solid $primaryColor;
}

textarea {
  width: 100%;
  border: 1px solid $primaryColor;
}

input,
textarea {
  &:focus,
  &:hover {
    outline-color: $primaryColor;
  }
}

.form-item {
  margin-bottom: 1rem;
}
.hidden {
  display: none;
}

.form-error {
  p {
    font-size: 0.7rem;
    color: red;
    text-align: left;
  }
}

.complaint {
  height: 5rem;
}

button {
  width: max-content;
  height: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
}

.submit-bttn {
  @include cute-button;
  padding: 0.2rem 0.8rem;
  margin: 1rem 0;
}
.departments {
  margin: 1rem 0;
}
.department-options {
  display: flex;
  justify-content: space-between;
}

.department-bttn {
  @include cute-button($accentColor);
  padding: 0.2rem 0.4rem;
  font-size: 0.5rem;
}

.department-selected {
  background-color: purple !important;
}
